<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gengyuan Huang's personal website">
    <meta name="keywords" content="programmer, coding, edmonton, alberta, canada, ualberta, alumni, gengyuan, project">
    <meta name="author" content="Gengyuan Huang">
    <meta name="og:title" property="og:title" content="Aghnu's Console | Gengyuan Huang's Website">
    <link rel="stylesheet" href="https://www.aghnu.me/static/font/classic_console_neue/font.css">
    <title>Aghnu's Console | Gengyuan Huang's Website"</title>
    <noscript>
        <style>
            #site-semantic {
                display: block !important;
            }
        </style>
    </noscript>
</head>

<body>
    <div id="top-layer" class="layer clickthrough noselect"></div>
    <div id="site-semantic">
        <header>
            <h1>Aghnu's Console</h1>
            <p class="content">Gengyuan Huang's personal website</p>
        </header>

        <section>
            <h2>About</h2>
            <p class="content">My name is Gengyuan Huang, a programmer. I have recently graduated from the University of
                Alberta with a CS degree. This is the noscript simplified version of my website <a
                    href="/">aghnu.me</a>. On this website, you can find my previous and current projects. I am
                currently living in Edmonton, AB, and open to work.</p>
        </section>

        <section>
            <h2>Contact</h2>
            <p class="content">Email: gengyuan@ualberta.ca</p>
            <p class="content">Email: scotthuang007@outlook.com</p>
            <p class="content">Github: <a target='_blank' href='https://github.com/aghnu'>aghnu</a></p>
            <p class="content">LinkedIn: <a target='_blank' href='https://www.linkedin.com/in/gengyuan-huang'>Gengyuan
                    Huang</a></p>
            <p class="content">Website: <a target='_blank' href='https://www.aghnu.me'>aghnu.me</a></p>
        </section>

        <section>
            <h2>Projects</h2>
            <section>
                <h3>Current Projects</h3>
                <details>
                    <summary>WNFA (an interactive art project)</summary>
                    <section>
                        <p class="content tag">#design #art #computer-vision #fullstack #neural-network
                            #tencent-cloud-SDK
                        </p>
                        <p class="content">WNFA (Words Never Fall Apart) is an interactive art project that uses grid
                            method and machine learning to generate art from handwritten poems.</p>
                        <a target='_blank' class="content link" href="https://github.com/aghnu/WNFA">Github
                            Repository</a>
                    </section>
                </details>
                <details>
                    <summary>WNFA Virtual Gallery (a 3D website)</summary>
                    <section>
                        <p class="content tag">#UI/UX-design #art #frontend #3D-css #JavaScript
                        </p>
                        <p class="content">A 3D Virtual Gallery display the poster results generated by WNFA at Zhejiang
                            Exhibition Hall from 06.01.2022 to 06.12.2022. It is written in pure JavaScript. 3D is
                            achieved by CSS 3D transform.</p>
                            <a target='_blank' class="content link"
                            href="https://github.com/aghnu/WNFA_virtual_gallery">Github
                            Repository</a>
                        <a target='_blank' class="content link"
                            href="https://www.aghnu.me/gallery/WNFA">Website
                            Link</a>
                    </section>
                </details>
                <details>
                    <summary>Aghnu's ASCII Art Generator</summary>
                    <section>
                        <p class="content tag">#frontend #design #computer-vision #opencvjs #client-side #open-source
                        </p>
                        <p class="content">An ASCII Art Toolkit Website written in JavaScript, using opencv.js. Code is
                            running on client side. It supports gif and static images convertion. The output is
                            displayed as HTML elements and animated by JavaScript.</p>
                        <a target='_blank' class="content link"
                            href="https://github.com/aghnu/aghnus_ascii_art_generator">Github
                            Repository</a>
                        <a target='_blank' class="content link"
                            href="https://www.aghnu.me/tools/ascii_art_generator/">Website
                            Link</a>
                    </section>
                </details>
                <details>
                    <summary>Aghnu's Console</summary>
                    <section>
                        <p class="content tag">#frontend #design #web-app #sass</p>
                        <p class="content">A personal project that serves as my personal website. It is meant to explore
                            new website design that differs from common patterns</p>
                        <a target='_blank' class="content link" href="https://github.com/aghnu/aghnu.github.io">Github
                            Repository</a>
                        <a target='_blank' class="content link" href="https://www.aghnu.me/">Website Link</a>
                    </section>

                </details>
                <details>
                    <summary>GFE.js (an open source js module)</summary>
                    <section>
                        <p class="content tag">#open-source #JavaScript</p>
                        <p class="content">GFE is a simplification of the project libgif-js. It provides a function to
                            extract the frames of a gif.</p>
                        <a target='_blank' class="content link"
                            href="https://github.com/aghnu/gif_frames_extract_js">Github
                            Repository</a>
                    </section>

                </details>
                <details>
                    <summary>Stranding Air (the frontend website of a creator community)</summary>
                    <section>
                        <p class="content tag">#frontend</p>
                        <p class="content">A website for a group of passionate people who are interested in exploring
                            the boundary of visual design, art, media, and technology.</p>
                        <a target='_blank' class="content link" href="https://www.strandingair.com/">Website Link</a>
                    </section>
                </details>
            </section>
            <section>
                <h3>Past Projects</h3>
                <details>
                    <summary>Jia's Lab</summary>
                    <section>
                        <p class="content tag">#Jekyll #sass #liquid #frontend #static-website</p>
                        <p class="content">Dr. Huijue Jia's personal website.</p>
                        <a target='_blank' class="content link" href="https://jiaslab-org.github.io/">Website Link</a>
                    </section>
                </details>
                <details>
                    <summary>Interactive Moodle Plugin</summary>
                    <section>
                        <p class="content tag">#Moodle #PHP #plugin-development #pixiJS #frontend #ux/ui-design</p>
                        <p class="content">This plugin is a Moodle Activity Module that is developed for Delphi
                            technology as part of their future online learning platform for aviators. (UAlberta CMPUT401
                            class project)</p>
                        <a target='_blank' class="content link"
                            href="https://github.com/aghnu/Interactive-Moodle-Plugin-Showcase">>
                            Github
                            Repository</a>
                    </section>
                </details>
                <details>
                    <summary>A python implementation of Hollow Heap</summary>
                    <section>
                        <p class="content tag">#data-structure #algorithm-implementation #python #testing</p>
                        <p class="content">hollow_heap.py is a python implementation of Hollow Heap base on Thomas
                            Dueholm Hansen, Haim Kaplan, Robert E. Tarjan, Uri Zwick 's paper
                            https://arxiv.org/abs/1510.06535. (UAlberta CMPUT403 class project)</p>
                        <a target='_blank' class="content link" href="https://github.com/aghnu/Hollow_Heap">Github
                            Repository</a>
                    </section>
                </details>
                <details>
                    <summary>MoodSwing</summary>
                    <section>
                        <p class="content tag">#android-app-development #Java #android-studio #ux/ui-design</p>
                        <p class="content">MoodSwing is a Java-based android app designed to record and archive user’s
                            mood in relation to geo location and time. Users can follow each other on MoodSwing and view
                            their friend's mood records. (UAlberta CMPUT301 class project)</p>
                        <a target='_blank' class="content link" href="https://github.com/aghnu/MoodSwing">Github
                            Repository</a>
                    </section>
                </details>
                <details>
                    <summary>Yonder</summary>
                    <section>
                        <p class="content tag">#frontend #ui/ux-design #fullstack #RESTful #React</p>
                        <p class="content">Yonder is a distributed social network using RESTful API. (UAlberta CMPUT404
                            class project)</p>
                        <a target='_blank' class="content link" href="https://github.com/aghnu/yonder">Github
                            Repository</a>
                    </section>
                </details>
            </section>
        </section>

        <footer>
            <p>© 2022 Gengyuan Huang</p>
        </footer>
    </div>
</body>

</html>