/* fonts */
@font-face {
    font-family: "Classic Console Neue";
    font-size: normal;
    font-weight: 400;
    src: url(../font/classic_console_neue.ttf) format("truetype");
}

/* base */
html {
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "Classic Console Neue";
}

/* layout */
.layer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.clickthrough {
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

#top-layer {
    z-index: 1000;

}

#second-layer {
    z-index: 999;
}

#third-layer {
    z-index: 998;
}

#terminal-container {
    position: fixed;
    width: 90vh;
    max-width: 400px;
    max-height: 90vh;
    padding: 5vh 5vw 5vh 5vw;
    

    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#terminal-container::-webkit-scrollbar {
    display: none;
}



/* elements */

#noise-screen {
    height: 100vh;
    width: 100vw;
    opacity: 0.75;
}

#terminal-container > p,
#terminal-input > p,
.terminal-link > p {
    color: #78a88a;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}

#terminal-container > p::-moz-selection,
.terminal-link > p::-moz-selection {
    color: black;
    background: #78a88a;
}
  
#terminal-container > p::selection,
.terminal-link > p::selection {
    color: black;
    background: #78a88a;
}

#terminal-container #terminal-input {
    display: flex;
    flex-wrap: wrap;
    
}

#terminal-container #terminal-input .prompt,
#terminal-container #terminal-input .input,
#terminal-container #terminal-input .pointer {
    color: #984511;
    overflow-wrap: anywhere;
}

.terminal-link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-style: italic;
    width: fit-content;
}

.terminal-link .icon {
    height: 24px;
}

#keyboard-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background: #984511;
    /* border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-radius: 3px; */
}

#keyboard-button {
    border: none;
    background: transparent;
    
}

#keyboard-button .icon {
    height: 24px;
}

