$footer-height:                         2.66rem;
$function-keys-height:                  2.66rem;
$virtual-keyboard-height:               10rem;
$sidebar-size:                          1.77rem;

$terminal-layer-padding-x:              50%;
$terminal-layer-padding-y:              2.5%; 

$terminal-layer-content-width:          600px;
$terminal-layer-mobile-content-width:   min(600px, 90%);

.layer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

#site-texture {
    z-index: 1000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

#overlay-layer {
    z-index: 999;
    pointer-events: none;
}

#terminal-layer {
    z-index: 998;
}

.clickthrough {
    pointer-events: none;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;  
}

#sidebar-left {
    position: absolute;
    left: $terminal-layer-padding-x;
    top: 30%;
    transform: translate(-50%, -50%);
    width: $terminal-layer-content-width;

    .item {
        pointer-events: all;
        width: $sidebar-size;
        height: $sidebar-size;
        transform: translate(calc(-100% - 32px), 0);
    }

    @include mobile() {
        top: $terminal-layer-padding-y;
        transform: translate(-50%, 0%);
        width: $terminal-layer-mobile-content-width;

        .item {
            transform: unset;
        }
    }
}


#terminal-container {
    position: fixed;
    top: $terminal-layer-padding-y;
    left: $terminal-layer-padding-x;
    transform: translate(-50%, 0%);

    width: $terminal-layer-content-width;
    height: calc(100% - #{$footer-height} - #{$function-keys-height} - #{$terminal-layer-padding-y * 4});


    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @include mobile() {
        width: $terminal-layer-mobile-content-width;
        top: calc(#{$terminal-layer-padding-y} * 2 + #{$sidebar-size});
        height: calc(100% - #{$footer-height} - #{$sidebar-size} - #{$function-keys-height} - #{$terminal-layer-padding-y * 5});
    }
}

#virtual-keyboard {
    display: none;
    position: fixed;
    width: $terminal-layer-content-width;
    left: $terminal-layer-padding-x;
    transform: translate(-50%, 0%);

    bottom: calc(#{$footer-height} + #{$function-keys-height} + #{$terminal-layer-padding-y * 3});
    height: $virtual-keyboard-height;
    
    &.on {
        display: flex;
    }

    &.on ~ #terminal-container {
        height: calc(100% - #{$footer-height} - #{$function-keys-height} - #{$virtual-keyboard-height} - #{$terminal-layer-padding-y * 5});
    }

    @include mobile() {
        width: $terminal-layer-mobile-content-width;

        &.on ~ #terminal-container {
            height: calc(100% - #{$footer-height} - #{$sidebar-size} - #{$function-keys-height} - #{$virtual-keyboard-height} - #{$terminal-layer-padding-y * 6});
        }
    }
}

#function-key-container {
    position: fixed;
    bottom: calc(#{$footer-height} + #{$terminal-layer-padding-y * 2});
    height: $function-keys-height;
    left: $terminal-layer-padding-x;
    transform: translate(-50%, 0%);

    width: $terminal-layer-content-width;

    @include mobile() {
        width: $terminal-layer-mobile-content-width;
    }
}

#footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: $terminal-layer-padding-y;
    left: $terminal-layer-padding-x;
    transform: translate(-50%, 0%);

    height: $footer-height;

    width: $terminal-layer-content-width;

    @include mobile() {
        width: $terminal-layer-mobile-content-width;
    }
}






