$footer-height:                     24px;
$function-keys-height:              48px;
$virtual-keyboard-height:           180px;

$third-layer-padding-x:             5vw;
$third-layer-padding-y:             2.5vh; 

$third-layer-content-width:         90vw;
$third-layer-content-width-max:     550px;

.layer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

#top-layer {
    z-index: 1000;
}

#second-layer {
    z-index: 999;
}

#third-layer {
    z-index: 998;
}

.clickthrough {
    pointer-events: none;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;  
}



#terminal-container {
    position: fixed;
    top: $third-layer-padding-y;
    left: $third-layer-padding-x;


    width: $third-layer-content-width;
    max-width: $third-layer-content-width-max;
    height: calc(100% - #{$footer-height} - #{$function-keys-height} - #{$third-layer-padding-y * 4});


    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

#virtual-keyboard {
    display: none;
    position: fixed;
    width: $third-layer-content-width;
    max-width: $third-layer-content-width-max;
    left: $third-layer-padding-x;
    bottom: calc(#{$footer-height} + #{$function-keys-height} + #{$third-layer-padding-y * 3});
    height: $virtual-keyboard-height;
    
    &.on {
        display: flex;
    }

    &.on ~ #terminal-container {
        height: calc(100% - #{$footer-height} - #{$function-keys-height} - #{$virtual-keyboard-height} - #{$third-layer-padding-y * 5});
    }
}


#function-key-container {
    position: fixed;
    bottom: calc(#{$footer-height} + #{$third-layer-padding-y * 2});
    height: $function-keys-height;
    left: $third-layer-padding-x;
    width: $third-layer-content-width;
    max-width: $third-layer-content-width-max;
}

#footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: $third-layer-padding-y;
    left: $third-layer-padding-x;

    height: $footer-height;

    width: $third-layer-content-width;
    max-width: $third-layer-content-width-max;

}



