$terminal-font-size:                22px;
$terminal-line-height:              24px;
$terminal-text-color-primary:       #78a88a;
$terminal-text-color-focus:         #984511;
$terminal-background-color:         #000000;


#noise-screen {
    height: 100vh;
    width: 100vw;
    opacity: 0.75;
}

#terminal-container {
    position: fixed;
    width: 90vh;
    max-width: 400px;
    max-height: 90vh;
    padding: 5vh 5vw 5vh 5vw;
    

    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    p {
        color: $terminal-text-color-primary;
        font-size: $terminal-font-size;
        line-height: $terminal-line-height;
        margin: 0;
        
        &::-moz-selection {
            color: $terminal-background-color;
            background: $terminal-text-color-primary;            
        }
    }

    .terminal-link {
        display: flex;
        gap: 10px;
        text-decoration: none;
        font-style: italic;
        width: fit-content;

        .icon {
            height: 24px;
        }
    }
}

#terminal-input {
    display: flex;
    flex-wrap: wrap;

    .prompt,
    .input,
    .pointer {
        color: #984511;
        overflow-wrap: anywhere;        
    }
}