#site-texture {
    opacity: 0.25;
    background-image: url("../img/noise_screen.png");
    background-size: min(2.5vh, 2.5vw);
}

// #sidebar-left {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     gap: 2.75rem;

//     @include mobile() {
//         flex-direction: row;
//         justify-content: space-between;
//         gap: 0;
//     }
// }

#site-semantic {
    display: none;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    color: $terminal-text-color-primary;
    @include override_select_color($terminal-background-color, $terminal-text-color-primary);

    h1, h2, h3, p {
        margin: 0;
        padding: 0;
        line-height: 1.1em;
        font-weight: normal;
    }

    h1, h2, h3 {
        margin-bottom: 0.3em;
    }

    h1 {
        color: $terminal-text-color-secondary;
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        color: $terminal-text-color-focus;
        &::before {
            content: '# ';
        }
    }

    h3 {
        font-size: 1em;
        color: $terminal-text-color-focus;
        &::before {
            content: '- ';
        }
    }

    a {
        color: $terminal-text-color-secondary;
    }

    section {
        margin-top: 1em;
        margin-bottom: 1em;
        .content {
            margin-left: 1em;
        }
    }

    details {
        all: unset;
        summary {
            all: unset;
        }
    }

    details {
        display: block;
        margin-bottom: 0.25em;


        &[open] summary::before {
            content: "- ";
        }

        summary {
            cursor: pointer;
            &::before {
                content: "> ";
            }
        }

        .details-content {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            margin-top: 0.5em;
            margin-bottom: 2em;
            .tag {
                color: $terminal-text-color-focus;
                font-size: 0.85em;
            }

            .link {
                font-size: 0.85em;
                &::before {
                    content: '[';
                }
                &::after {
                    content: ']';
                }
            }
        }
    }

    header {
        margin-top: 2em;
        margin-bottom: 2em;
        width: 100%;
        text-align: center;
    }

    footer {
        margin-top: 2em;
        margin-bottom: 2em;
        width: 100%;
        text-align: center;
        p {
            color: $terminal-text-color-secondary;
        }
    }
}

#site-app {
    @include override_select_color($terminal-background-color, $terminal-text-color-primary);
    #terminal-container {
        scroll-behavior: smooth;

        .terminal-exe-section {
            transition: opacity 0.5s;
            opacity: 0.5;

            &.section-focus {
                opacity: 1;
            }
        }


        .terminal-link {
            display: flex;
            justify-content: space-between;
    
            .name {
                display: flex;
                width: 30%;
                gap: 0.27rem;

                .icon {
                    height: $terminal-line-height;
                    margin-top: 0.05em;
                }
            }
    
    
            .container {
                width: 55%;  
                .link {
                    display: block;
                    text-decoration: none;
                    width: fit-content;
                }    
            }
    
        }
    
        #terminal-input {
            color: $terminal-text-color-focus;
            word-wrap: break-word;
        }
    
        .terminal-cmddesc {
            display: flex;
            justify-content: space-between;
    
            .name {
                width: 30%;
                cursor: pointer;
            }
    
            .desc {
                width: 55%;
            }
    
        }

        .terminal-pair {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .left {
                width: 30%;
            }

            .right {
                width: 55%;
            }
        }
    
    
        .terminal-project {
            display: flex;
            justify-content: space-between;
    
            .name {
                width: 30%;
            }
    
            .container {
                width: 55%;
                display: flex;
                flex-direction: column;
                .link {
                    display: block;
                    line-height: $terminal-line-height;
                }
            }
    
        }

        .terminal-title {
            color: $terminal-text-color-secondary;
            font-size: 1.8rem;
            line-height: calc(#{$terminal-line-height} * 1.8);
        }

        .terminal-skills {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .skills-name {
                width: 40%;
            }

            .skills-container {
                width: 55%;
                display: flex;
                flex-wrap: wrap;
                column-gap: 10%;

                .item {
                    min-width: 45%;
                    width: fit-content;
                    &::before {
                        content: "○ ";
                        color: $terminal-text-color-secondary;
                    }

                    // &::after {
                    //     content: " <";
                    //     color: $terminal-text-color-secondary
                    // }
                }
            }
        }
        .terminal-button {
            border: none;
            background-color: transparent;
            font-size: inherit;
            font-family: inherit;
            padding: inherit;
            margin: inherit;
            line-height: $terminal-line-height;
            &::before {
                content: "> ";
                color: $terminal-text-color-focus;
            }
        }

        .terminal-portfolio {
            display: flex;
            justify-content: space-between;

            &::before {
                content: "○ ";
                color: $terminal-text-color-secondary;
            }

            .title-container,
            .content-container {
                display: flex;
                flex-direction: column;
                gap: $terminal-line-height;
            }

            .title-container {
                width: 40%;
            }

            .content-container {
                width: 55%;
            }

            .sum {
                &::before {
                    content: "[";
                    color: $terminal-text-color-focus;
                }
                &::after {
                    content: "]";
                    color: $terminal-text-color-focus;
                }   
            }
            
            .link-container {
                display: flex;
                flex-direction: column;
                gap: $terminal-line-height;

                a {
                    word-break: normal;
                    &::before {
                        content: "> ";
                        color: $terminal-text-color-focus;
                    }
                }
            }
        }
    }
    
    #footer {
        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .info {
                color: $terminal-text-color-focus;
                white-space: nowrap;
            }
        }

        // .text-container {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     // height: $function-key-line-height;
    
        //     #footer-date-str,
        //     #footer-loca-str,
        //     #footer-copy-str {
        //         font-size: $function-key-font-size;
        //         font-family: "Classic Console Neue";
        //         color: $terminal-text-color-focus;
        //         margin: auto;
        //         text-align: center;
        //         white-space: nowrap;
        //     }
        // }
    }
    
    #function-key-container {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
    
        .container {
            display: flex;
            flex-direction: column;
            .key {
                display: flex;
                gap:0.27rem;
                border: none;
                background: transparent;
                cursor: pointer;
                .icon {
                    height: $terminal-line-height;
                    margin-top: 0.1em;
                }
                .text-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: $function-key-line-height;
    
                    .text {
                        font-size: $function-key-font-size;
                        font-family: inherit;
                        color: $terminal-text-color-primary;
                    }
                }
            }
    
        }
    }
    
    #virtual-keyboard {

        .keyboard-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }


        .row {
            display: flex;
            flex-direction: row;
            gap: 1.5%;
            justify-content: center;
            height: calc(95% / 5);
            .key {
                position: relative;
                height: 80%;
                min-width: fit-content;
                width: calc((100% - 1.5% * 9) / 10);

                border: solid;
                border-radius: 0.33rem;
                border-width: 0.11rem;
                
                background: $terminal-background-color;
                border-color: $terminal-text-color-primary;
                cursor: pointer;
                font-size: $function-key-font-size;
                box-shadow: 0rem 0.11rem 0rem $terminal-text-color-primary;
                font-family: inherit;
    
                .label {
                    color: $terminal-text-color-primary;
                    margin: 0.2rem 0.4rem 0.2rem 0.4rem;

                }

                &.hold {
                    height: 175%;
                    bottom: 95%;
                }
    
                &#virtual-key-Space {
                    min-width: fit-content;
                    width: calc((100% - 1.5% * 3) / 10 * 6);
                    height: 100%;
                    &.hold {
                        height: 175%;
                        bottom: 75%;
                    }
                }
                &#virtual-key-Enter {
                    min-width: fit-content;
                    width: calc((100% - 1.5% * 3) / 10 * 2);
                    height: 100%;
                    &.hold {
                        height: 175%;
                        bottom: 75%;
                    }
                }
                &#virtual-key-Back {
                    min-width: fit-content;
                    width: calc((100% - 1.5% * 3) / 10 * 2);
                    height: 100%;
                    &.hold {
                        height: 175%;
                        bottom: 75%;
                    }
                }
    
            }
        }
    }
}

