$terminal-text-color-primary:       #78a88a;
$terminal-text-color-focus:         #984511;
$terminal-background-color:         #000000;
$terminal-text-color-secondary:     #de9835;

$font-size-mobile:                  16px;
$font-size:                         18px;
$terminal-line-height:              1.1rem;
$function-key-font-size:            1rem;
$function-key-line-height:          1.45rem;

@mixin override_select_color($color, $background) {
    &::-moz-selection {
        color: $color;
        background: $background;            
    }

    ::selection {
        color: $color;
        background: $background;   
    }
}

@mixin mobile() {
    @media only screen and (max-width: 750px) {
        @content;
    }
}

@import
    'base',
    'layout',
    'main'
;